body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

#main {
    display: flex;
    flex-grow: 1;
}

#sidebar {
    width: 30%;
    overflow: auto;
    position: sticky;
    top: 0;
    padding: 20px;
}

.sidebar-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    animation: fadein 2s;
    animation-fill-mode: forwards;
}

#content {
    width: 70%;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-bottom: 20px;
    color: #2c3e50;
}

@media screen and (max-width: 768px) {
    #main {
        flex-direction: column;
    }

    #sidebar, #content {
        width: 100%;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
